<div class="band-and-album-page">
<% items.forEach(element => { %>
<div class="band-and-album">
  <% if (element.images.length) { %>
  <img src="<%=element.images[0].url %>" class="band-and-album-image"/>
  <% } %>
  <div class="band-and-album-bottom">
    <p class="band-and-album-name"><%= element.name %></p>
    <a href="/albums/<%= element.id %>" class="button"
      />View Albums</a
    >
  </div>
</div>
<% }) %>
</div>