<% items.forEach(element => { %>
<div class="band">
  <% if (element.images.length) { %>
  <img src="<%=element.images[0].url %>" alt="" />
  <% } %>
  <div class="band-bottom">
    <p class="band-name"><%= element.name %></p>
    <a href="/albums/<%= element.id %>" class="button"
      />View Albums</a
    >
  </div>
</div>
<% }) %>
