<div class="home-page">
  <form method="POST" action="/artist-search">
    <label>
      <input type="text" name="artist" placeholder="Search for an artist" />
    </label>
    <button>Search</button>
  </form>
</div>
